@model IEnumerable<GruppL_IK073G_ht19.Models.Persons>

@{
    ViewBag.Title = "CIndex";
    <link rel="stylesheet" type="text/css" href="~/Content/PersonSearch.css">

}

<h2>Här kan du se  frilansare som söker uppdragsgivare just nu:</h2>

<input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for names..">
    <table id="myTable" class="table">
    <tr>
        <th>
            Förnamn
        </th>
        <th>
            Efternamn
        </th>
        <th>
            Adress
        </th>
        <th>
            Telefonnummer
        </th>
        <th>
            E-post
        </th>
        <th>
            Födelsedatum
        </th>
        <th>
            Nationalitet
        </th>
        <th>
            Körkort
        </th>
        <th>
            Beskrivning
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phonenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Driver_license)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile_text)
            </td>
            <td>

                @Html.ActionLink("Visa profil", "CDetails", new { id = item.Person_id })

            </td>
        </tr>
    }

</table>

    <script>
        function searchTable() {

            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");


            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length; j++) {
                    let tdata = td[j];
                    if (tdata) {
                        if (tdata.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        }
    </script>