@model GruppL_IK073G_ht19.ViewModels.PersonViewModels
@*@model GruppL_IK073G_ht19.Models.Persons*@

@* Här är det något som ska ändras... Sen borde det kanske gå *@

@{
    ViewBag.Title = "Details";

    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
}
    <div class="jumbotron">
        
          <h2 class="aLink">@Html.DisplayFor(model => model.Persons.FirstName) @Html.DisplayFor(model => model.Persons.LastName)</h2>
          <hr />

            <div id="pdf">

                <dl class="dl-horizontal">
                    <dt>
                        Förnamn:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Persons.FirstName)
                    </dd>

                    <dt>
                        Efternamn:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Persons.LastName)
                    </dd>

                    <dt>
                        Adress:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Persons.Adress)
                    </dd>

                    <dt>
                        Telefonnummer:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Persons.Phonenumber)
                    </dd>

                    <dt>
                        E-post:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Persons.Email)
                    </dd>

                    <dt>
                        Födelsedata:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Persons.Birthdate)
                    </dd>

                    <dt>
                        Nationalitet:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Persons.Nationality)
                    </dd>

                    <dt>
                        Körkort:
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Persons.Driver_license)
                    </dd>

                    <dt>
                        Profiltext:
                    </dt>

                    <dd>
                        <textarea>
                            @Html.DisplayFor(model => model.Persons.Profile_text)

                        </textarea>
                    </dd>
                </dl>
            </div>
     
    </div>


<table class="table">
    <tr>
        <th>
            Arbetsuppgifter
        </th>

        <th>
            Startdatum
        </th>
        <th>
            Slutdatum
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Employments)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Assignments)

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Start_date)

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.End_date)

    </td>
</tr>
    }

</table>

<table class="table">
    <tr>
        <th>
            Skola
        </th>

        <th>
            Program
        </th>
        <th>
            Diplom
        </th>
        <th>
            Startdatum
        </th>
        <th>
            Slutdatum
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Educations)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Educational_institution)

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Educational_program)

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Diploma)

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Start_date)

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.End_date)

    </td>
</tr>
    }

</table>

<table class="table">
    <tr>
        <th>
            Kärnförmågor
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.key_Abilitiys)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.abilitiy)

            </td>
        </tr>
    }

</table>

<table class="table">
    <tr>
        <th>
            Expertis
        </th>
        <th>
            Gradering
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model.PersonExpertises)
    {

        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Expertises)

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Grade)

            </td>
        </tr>
    }

</table>

<table class="table">
    <tr>
        <th>
            Språk
        </th>
        <th>
            Gradering
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model.Languages)
    {

        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Language)

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Grade)

            </td>
        </tr>
    }

</table>

<div>
    <br />
    <a href="https://www.linkedin.com">
        <img alt="Linkedin" src="~/Content/linkedin.png" width="30" height="30">
    </a>
    <a href="https://www.github.com">
        <img border="0" alt="Github" src="~/Content/github-logo.png" width="30" height="30">
    </a>
</div>


@using (Html.BeginForm("Export", "Persons", FormMethod.Post))
{
    <input type="hidden" name="pdfHtml" />
    <input type="submit" class="buttonPdf" id="btnSubmit" value="Exportera till PDF" />
}



    <p>
        @Html.ActionLink("Tillbaka", "Index")
        @Html.ActionLink("Redigera", "Edit", new { id = Model.Persons.Person_id }) |
    </p>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='pdfHtml']").val($("#pdf").html());

        });
    });
</script>

