@model IEnumerable<GruppL_IK073G_ht19.Models.Persons>

@{
    ViewBag.Title = "Index";

    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">

    <link rel="stylesheet" type="text/css" href="~/Content/PersonSearch.css">

}
<a href="/PersonExperties/Index"><button class="logout">Sök</button></a>

<h2>Här kan du se  frilansare som söker uppdragsgivare just nu:</h2>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
<table id="myTable" class="table">
    <tr>
        <th>
            Förnamn
        </th>
        <th>
            Efternamn
        </th>
        <th>
            Adress
        </th>
        <th>
            Telefonnummer
        </th>
        <th>
            E-post
        </th>
        <th>
            Födelsedatum
        </th>
        <th>
            Nationalitet
        </th>
        <th>
            Körkort
        </th>
        <th>
            Beskrivning
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phonenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Driver_license)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile_text)
            </td>
            <td>

                @Html.ActionLink("Visa profil", "Details", new { id = item.Person_id })

            </td>
        </tr>
    }

</table>



<script>


</script>
<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>


