@model IEnumerable<GruppL_IK073G_ht19.Models.Persons>

@{
    ViewBag.Title = "Index";
}

<h2>Här kan du se de frilansare som söker en uppdragsgivare just nu:</h2>

<p>
    @Html.ActionLink("Create New", "Create") //Ska vi ha detta här??
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phonenumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Driver_license)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile_text)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phonenumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Driver_license)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profile_text)
        </td>
        <td>
          
            @Html.ActionLink("Visa profil", "Details", new { id=item.Person_id })
            
        </td>
    </tr>
}

</table>
