@model GruppL_IK073G_ht19.Models.key_abilitiy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>key_abilitiy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.abilitiy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abilitiy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persons.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persons.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.key_abilitiy_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
