@model IEnumerable<GruppL_IK073G_ht19.ViewModels.PersonExpertisVM>
@{
    ViewBag.Title = "Index";

}


@*IFSATSER SOM KONTROLLERAR tabellen från givet utfall*@
<h2>Index</h2>
<input type="text" id="myInput" onkeyup="search_table()" placeholder="Search for names..">
<table id="myTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expertis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Competence)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expertis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competence)
            </td>
        </tr>
    }
</table>




<script>
    function search_table(){
  // Declare variables 
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td") ; 
    for(j=0 ; j<td.length ; j++)
    {
      let tdata = td[j] ;
      if (tdata) {
        if (tdata.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
          break ; 
        } else {
          tr[i].style.display = "none";
        }
      } 
    }
  }
}
</script>




