@model GruppL_IK073G_ht19.Models.Languages

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Languages</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persons1.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persons1.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Language_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
