@model GruppL_IK073G_ht19.Models.Educations

@{
    ViewBag.Title = "Create";
}

<h2>Lägg till</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Utbildning</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Person_ID, "Person_ID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Person_ID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Person_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Lärosäte</label>

        <div class="col-md-10">
            @Html.EditorFor(model => model.Educational_institution, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Educational_institution, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Program</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Educational_program, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Educational_program, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Diplom</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Diploma, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Diploma, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Stoppdatum</label>

        <div class="col-md-10">
            @Html.EditorFor(model => model.End_date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.End_date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Startdatum</label>

        <div class="col-md-10">
            @Html.EditorFor(model => model.Start_date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Start_date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lägg till" class="btn btn-default" />
        </div>
    </div>
</div>
}


 <a href="Index"><button class="logout">Tillbaka</button></a>

   

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
