@model GruppL_IK073G_ht19.Models.Educations

@{
    ViewBag.Title = "Delete";
}


<h3>Är du säker på att du vill radera detta?</h3>
<div>
    <h4>Utbildningar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Lärosäte
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Educational_institution)
        </dd>

        <dt>
            Program
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Educational_program)
        </dd>

        <dt>
            Diplom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diploma)
        </dd>

        <dt>
            Stoppdatum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_date)
        </dd>

        <dt>
            Startdatum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_date)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Radera" class="btn btn-default" />

        </div>
    }
</div>
<a href="Index"><button class="logout">Tillbaka</button></a>
