@model IEnumerable<GruppL_IK073G_ht19.Models.Educations>

@{
    ViewBag.Title = "Index";
}

<h2>Utbildningar</h2>

<a href="/Educations/Create"><button class="logout"><b>+</b>Lägg till</button></a>

<table class="table">
    <tr>
        <th>
            Lärosäte
        </th>
        <th>
            Program
        </th>
        <th>
            Diplom
        </th>
        <th>
            Startdatum
        </th>
        <th>

            Stoppdatum
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Educational_institution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Educational_program)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diploma)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Start_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End_date)
            </td>
            <td>
                <a href="/Educations/Edit"><button class="logout">Redigera</button></a> |
                <a href="/Educations/Delete"><button class="logout">Radera</button></a>

            </td>

        </tr>
    }

</table>
<a href="/Persons/Details/1"><button class="logout">Tillbaka till profilen</button></a>
