@model GruppL_IK073G_ht19.Models.Customers

@{
    ViewBag.Title = "Create";
}

<h2>Skapa profil</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    <h4>Fyll i dina uppgifter</h4>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label name="lblFNc" id="control-label col-md-2" class="control-label col-md-2"> <b>Förnamn</b> </label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label name="lblLNc" id="control-label col-md-2" class="control-label col-md-2"> <b>Efternamn</b> </label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label name="lblB" id="control-label col-md-2" class="control-label col-md-2"> <b>Företag</b> </label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Business, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Business, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label name="lblAdc" id="control-label col-md-2" class="control-label col-md-2"> <b>Adress</b> </label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label name="lblEmc" id="control-label col-md-2" class="control-label col-md-2"> <b>E-post</b> </label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label name="lblPn" id="control-label col-md-2" class="control-label col-md-2"> <b>Telefonnummer</b> </label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Phonenumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Phonenumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Skapa Profil" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Visa lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
