@model GruppL_IK073G_ht19.Models.Employments

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.End_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persons.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persons.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Employment_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
