@model IEnumerable<GruppL_IK073G_ht19.Models.Employments>

@{
    ViewBag.Title = "Index";
}

<h2>Anställningar</h2>

<a href="/Employments/Create"><button class="logout"><b>+</b>Lägg till</button></a>

<table class="table">
    <tr>
        <th>
            Arbetsuppgifter
        </th>
        <th>
            Startdatum
        </th>

        <th>
            Stoppdatum
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Assignments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End_date)
        </td>

        <td>
            @Html.ActionLink("Redigera", "Edit", new { id = item.Employment_id }) |
            @Html.ActionLink("Radera", "Delete", new { id = item.Employment_id })
        </td>
    </tr>
    }


</table>
<div>
   <a href="/Persons/Details/1"><button class="logout">Tillbaka till profilen</button></a>
    <a href="/Educations/Index/1"><button class="logout">Redigera Utbildningar</button></a>
</div>
