@model IEnumerable<GruppL_IK073G_ht19.Models.Expertises>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Competence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Competences.Competence)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Competence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Competences.Competence)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Expertise_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Expertise_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Expertise_id })
        </td>
    </tr>
}

</table>
